<%
// variable
var ejsRoot = '../';
var page = 'top';
%>
<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include(ejsRoot + 'inc/_meta', {data:data,meta:data[page]}); %>
    <link href="./assets/css/top/style.css" rel="stylesheet" class="stylesheet">
    <%- include(ejsRoot + 'inc/_script'); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.min.js"></script>
    <script src="https://unpkg.com/ml5" type="text/javascript"></script>

</head>
<body id="<%- page %>" class="top" data-id="top">
<div id="wrapper">
    <div id="inner">
        <%- include('./top/_section01', {data:data,page:page}); %>
    </div>
</div>
<script type='text/javascript' src='./assets/js/main.js'></script>
</body>
</html>