@charset "utf-8";

// common
@import "../init/import";
@import "../init/reset"; // リセットCSS、フォントサイズ

html{
  height:100%;
}

body {
  width: 100%;
  height:100%;
  margin: 0;
}

#top {
  padding-top: 50px;
  padding-left: 50px;
  img {
    width: 250px;
    height: 250px;
    display: inline;
  }
  #transferBtn {
    width: 100px;
    height: auto;
    padding: 5px;
    background-color: chartreuse;
  }
}

@media screen and (max-width: 768px) {
  #top {

  }
}

@media screen and (max-width: 414px) {
  #top {

  }
}

@media screen and (max-width: 375px) {
  #top {

  }
}