<div class="section section01" data-id="top">
    <h1>Style Transfer Image Example using p5.js</h1>
    <p id="statusMsg">Loading Models...</p>
    <button id="transferBtn">Transfer!</button>
    <p>Input Image:</p>
    <img src="assets/resource/img/patagonia.jpg" alt="input img" id="inputImg">

    <div id="styleA">
        <p>Style A: <a href="https://en.wikipedia.org/wiki/The_Great_Wave_off_Kanagawa">The Great Wave off Kanagawa, 1829 - Katsushika Hokusai</a></p>
        <img src="assets/resource/img/wave.jpg" alt="style one">
    </div>

    <div id="styleB">
        <p>Style B: <a href="https://en.wikipedia.org/wiki/The_Great_Wave_off_Kanagawa">Udnie (Young American Girl, The Dance), 1913 - Francis Picabia</a></p>
        <img src="assets/resource/img/udnie.jpg" alt="style two">
    </div>
</div>